<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>签到列表</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <style>
        .modal {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            overflow: hidden;
            outline: 0;
            -webkit-overflow-scrolling: touch;
            background-color: rgb(0, 0, 0);
            filter: alpha(opacity=60);
            background-color: rgba(0, 0, 0, 0.6);
            z-index: 9999;
        }
    </style>
</head>
<body>
<div id="modal" class="modal" style="display: none;">
    <div id="qrcode_div"
         style="margin-left:20%;margin-top:10%;width:60%;text-align: center;background: #FFFFFF;padding: 10px;">
        <h4 id="qrcode_txt"></h4>
        <img id="qrcode_img" src="../index.php/Home/Index/qrcode?studentId=4"/>
        <br/>
        <br/>
        <p>
            <button id="close" class="btn btn-default btn-sm" onclick="closeModal()">关闭</button>
        </p>
    </div>
</div>
<div style="padding: 8px 8px 5px;">
    <a href="addClass.html">
        <button id="addCla-btn" class="btn btn-link btn-sm" type="button"> 增加班级
        </button>
    </a>
    <a href="addStudent.html">
        <button id="addStu-btn" class="btn btn-link btn-sm" type="button"> 增加学生</button>
    </a>
</div>

<div id="classList">
    <table class="table">
        <tr>
            <th>年级</th>
            <th>班级</th>
            <th>操作</th>
        </tr>
        <tr v-for="item in items" style="text-align: center">
            <td>{{item.grade_name}}</td>
            <td>{{item.class_name}}</td>
            <td>
                <button class="btn btn-danger btn-sm" type="button" @click="delClass(item.id)"> 删除</button>
            </td>
        </tr>
    </table>
</div>

<div id="studentList">
    <table class="table">
        <tr>
            <th>班级</th>
            <th>姓名</th>
            <th>操作</th>
        </tr>
        <tr v-for="item in items" style="text-align: center">
            <td>{{item.grade_name}} {{item.class_name}}</td>
            <td>{{item.name}}</td>
            <td>
                <button type="button" class="btn btn-default btn-sm" id="qrcode_btn" @click="show_qrcode(item.id)">二维码
                </button>
                <button class="btn btn-danger btn-sm" type="button" @click="delStudent(item.id)"> 删除</button>
            </td>
        </tr>
    </table>
</div>


<ul class="breadcrumb">
    <li><a href="index.html">签到概况</a></li>
    <li><a href="list.html">签到列表</a></li>
    <li class="active"><a href="admin.html">管理</a></li>
</ul>

</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script>
    var studentList = new Vue({
        el: '#studentList',
        data: {
            items: []
        },
        methods: {
            getList: function () {
                $.ajax({
                    type: "GET",
                    url: "../index.php/Home/Index/studentList",
                    data: {},
                    success: function (data) {
                        studentList.items = data.data;
                    }
                })
            },
            delStudent: function (id) {
                if (confirm("确定删除此记录吗")) {
                    $.ajax({
                        type: "GET",
                        url: "../index.php/Home/Index/deleteStudent",
                        data: {
                            'id': id
                        },
                        success: function (data) {
                            status = data.status;
                            if (status == 1) {
                                init();
                            } else {
                                alert(data.msg);
                            }
                        }
                    })
                }
            },
            show_qrcode: function (id) {
                $.ajax({
                    type: "GET",
                    url: "../index.php/Home/Index/studentDetail",
                    data: {
                        'studentId': id
                    },
                    success: function (data) {
                        status = data.status;
                        if (status == 1) {
                            h = data.data.student.grade_name + data.data.student.class_name + " " + data.data.student.name;
                            $('#qrcode_txt').html(h);
                            $('#qrcode_img').attr('src', data.qrcode_url);
                            $('#modal').css("display", "block");
                        } else {
                            alert(data.msg);
                        }
                    }
                })
            }
        }
    });
    var classList = new Vue({
        el: '#classList',
        data: {
            items: []
        },
        methods: {
            getList: function () {
                $.ajax({
                    type: "GET",
                    url: "../index.php/Home/Index/classList",
                    data: {},
                    success: function (data) {
                        classList.items = data.data;
                    }
                })
            },
            delClass: function (id) {
                if (confirm("确定删除此记录吗")) {
                    $.ajax({
                        type: "GET",
                        url: "../index.php/Home/Index/deleteClass",
                        data: {
                            'id': id
                        },
                        success: function (data) {
                            status = data.status;
                            if (status == 1) {
                                init();
                            } else {
                                alert(data.msg);
                            }
                        }
                    })
                }
            }
        }
    });


    function checkLogin() {
        $.ajax({
            type: "GET",
            url: "../index.php/Home/Public/isLogin",
            success: function (data) {
                status = data.status;
                if (status != 1) {
                    window.location = "login.html";
                }
            }
        })
    }

    function closeModal() {
        $('#modal').css("display", "none");
    }

    function init() {
        checkLogin();
        classList.getList();
        studentList.getList();
    }

    init();
</script>

</html>